*{
    box-sizing: border-box;
}

body{
    background-color: lightslategrey;

}

h1#header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    color:coral;
    text-align:center;
    
}

div#container{
    text-align: center;
}

canvas#game{
    width:1024px;
    height:576px;
    

}

div#startButtonDiv{
    position:absolute;
    top: 50%;
    left: 43%;

}

#startButton{
    transition-duration: 200ms;
    font-size: 250%;
    background-color: darkorange;
    font-family: sans-serif;
    border-radius: 10px;


}

#startButton:hover{
    background-color:orange;

}

#startButton:active{
    background-color:gray;
    box-shadow: 0px 2px 2px 2px black;

}